*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(152, 251, 152);
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    text-align: justify;
    line-height: 25px;
    margin-bottom: 25px;
}

img{
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}

.aside{
    background-color: rgb(243, 144, 144);
    flex: 30%;
    padding: 10px;
}

.aside img{
    width: 80%;
    margin: 5px auto;
    display: block;
}
.section{
    background-color: burlywood;
    flex: 70%;
    padding: 10px;
}

.video{
    display: block;
    margin: auto;
    width: 70%;
    height: calc(100vh * 35 / 100);
    max-width: 400px;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 19px;
}

.tarjetas .card{
    /* display: flex; */
    background-color: rgb(90, 87, 255);
    width: 100%;
    max-width: 300px;
    height: auto;
    border:2px dashed red;
    border-radius: 25px;
    box-shadow: 7px 7px 10px black;
    padding: 10px;
    overflow: auto;
    aspect-ratio: 700/800;
}

.tarjetas .card .contenido img{
    width:40%;
    margin: auto;
    display: block;
}

.tarjetas .card .contenido .centrar{
    text-align: center;
    color: red;
    border-bottom: 2px dashed orange;
    font-weight: bold;
    font-size: 2rem;
}

.cuadro{
    display: flex;
    background-color: aqua;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cuadro .imagen{
    flex: 33%;
}

.cuadro .imagen img{
    width: 50%;
}

.cuadro .texto{
    flex: 66%;
}

@media screen and (max-width:750px) {
    .row{
        flex-direction: column-reverse;
    }
}